defaultEntryPoints = ["http", "https"]
logLevel = "ERROR"
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
    permanent = true
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "admin@piratenpartei.ch"
storage = "/var/lib/traefik/acme.json" 
entryPoint = "https"
acmeLogging = true
onHostRule = true

[[acme.domains]]
   main = "traefik.piratenpartei.ch"

[acme.httpChallenge]
  entryPoint = "http"
