---
- name: Outbound-Mail
  become: true
  docker_container:
    image: "mailu/postfix"
    restart_policy: always
    name: "postfix"
    ports: "25:25"
    state: started
    volumes:
      - /var/srv/files/mail/queue:/queue:Z
      - /var/srv/files/mail/etc:/overrides:ro,Z
    env:
      DOMAIN=piratenpartei.ch
      HOSTNAME=coreos-4-p.piratenpartei.ch
      RELAYNETS="159.100.254.166 172.16.0.0/12"
      MESSAGE_SIZE_LIMIT=10240000
      RELAYHOST=""
