- name: start mysql container
  become: true
  docker_container:
    image: "mariadb:10.4"
    name: "members-crm-mysql"
    state: started
    restart_policy: always
    pull: True
    volumes:
      - /var/srv/mysql/members-crm:/var/lib/mysql:Z
    env:
      MYSQL_ROOT_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/mysql/root:value') }}"
      MYSQL_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"
      MYSQL_USER="members-crm"
      MYSQL_DATABASE="members-crm"

- name: start second mysql container
  become: true
  docker_container:
    image: "mariadb:10.4"
    name: "members-crm-mysql-civi"
    state: started
    pull: True
    restart_policy: always
    volumes:
      - /var/srv/mysql/members-crm-civi:/var/lib/mysql:Z
    env:
      MYSQL_ROOT_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/mysql/root:value') }}"
      MYSQL_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"
      MYSQL_USER="members-crm"
      MYSQL_DATABASE="members-crm-civi"

- name: start civicrm container
  become: true
  docker_container:
    image: wordpress:php7.4
    name: "members-crm"
    restart_policy: always
    labels:
     "traefik.enable": "true"
    state: started
    pull: True
    links:
      - members-crm-mysql:mysql
      - members-crm-mysql-civi:mysql-civi
    volumes:
      - /var/srv/files/members-crm:/var/www/html:z
    env:
      WORDPRESS_DB_NAME="members-crm"
      WORDPRESS_DB_USER="members-crm"
      WORDPRESS_DB_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"

- name: start civicrm croncontainer
  become: true
  docker_container:
    image: wordpress:cli
    name: "members-crm-cron"
    state: started
    pull: True
    restart_policy: always
    links:
      - members-crm-mysql:mysql
      - members-crm-mysql-civi:mysql-civi
    volumes:
      - /var/srv/files/members-crm:/var/www/html:z
    command: /var/www/html/startjobs.sh
    user: "33"
    env:
      WORDPRESS_DB_NAME="members-crm"
      WORDPRESS_DB_USER="members-crm"
      WORDPRESS_DB_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"

- name: start backup container for first mysql container
  become: true
  docker_container:
    image: yloeffler/mysql-backup
    name: "members-crm-backup"
    state: started
    restart_policy: always
    pull: True
    links:
      - members-crm-mysql:mysql
    volumes:
      - /var/srv/mysql-backup/members-crm:/backup:Z
    env:
      MYSQL_PASS="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"
      MAX_BACKUPS=3
      COMPRESS=y

- name: start backup container for second mysql container
  become: true
  docker_container:
    image: yloeffler/mysql-backup
    name: "members-crm-civi-backup"
    state: started
    restart_policy: always
    pull: True
    links:
      - members-crm-mysql-civi:mysql
    volumes:
      - /var/srv/mysql-backup/members-crm-civi:/backup:Z
    env:
      MYSQL_PASS="{{ lookup('hashi_vault', 'secret=secret/members-crm/mysql/password:value') }}"
      MAX_BACKUPS=3
      COMPRESS=y
