- name: Traefik config
  become: true
  copy:
    src: files/traefik.toml
    dest: /var/srv/traefik/traefik.toml

- name: Traefik
  become: true
  docker_container:
    image: "traefik:maroilles"
    restart_policy: always
    pull: True
    name: "traefik"
    ports: "80:80,443:443"
    state: started
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:z
      - /var/srv/traefik/traefik.toml:/traefik.toml:ro,Z
      - /var/srv/traefik/acme.json:/var/lib/traefik/acme.json:Z
    env:
      GODEBUG=tls13=1
