---
- name: Docker configuration
  hosts: coreos
  tasks:
    - name: "enable docker service"
      become: true
      systemd:
        state: started
        enabled: true
        name: docker.service
    - import_tasks: container-traefik.yml
    - import_tasks: container-api.yml
    - import_tasks: container-press-crm.yml
    - import_tasks: container-members-crm.yml
    - import_tasks: container-mumble.yml
    - import_tasks: container-mail.yml
    - import_tasks: container-backup.yml
    - import_tasks: container-projects.yml
    - import_tasks: container-otrs.yml
      tags: otrs
    - import_tasks: container-nextcloud.yml
